
/**
 *  @file
 *  Specific styles
 */

.front .view-homepage.view-display-id-page {
    padding-top: 1em;
}

.page-node.node-type-wish .node-wish > * {
    text-align: center;
    }
    .page-node.node-type-wish .node-wish > * > * {
        display: inline-block;
    }

.bg-effect-a {
    background-color: white;
    border-radius: .5em;
    box-shadow: 0 0 1em .5em rgba(255, 255, 255, .9);
}

@media (--sm-viewport) {
    .Arrange--break-sm--blockify,
    .Arrange--break-sm--blockify > * {
        display: block !important;
    }
}


/*      Drupal - Messages
*/

.drupal-messages {
    margin: 1em 0;
    border: .5em solid white;
    box-shadow: 0 0 .5em .25em rgba(255, 255, 255, .9);
}


/*      Drupal - Fieldset
*/

fieldset.collapsible {
    border: 1px dotted #999;
}
fieldset.collapsible legend {
    margin-left: 1em;
}
fieldset.collapsible legend,
.fieldset-wrapper {
    padding: .5em 1em;
}
fieldset.collapsible .fieldset-title::before {
    font-family: "fontello";
    speak: none;
    width: 1em;
    text-align: center;
    line-height: 1em;
    
    /*
    display: inline-block;
    */
    display: inline;
    padding-right: .25em;
    
    /*      icon-close
    */
    content: '\e800';
}
fieldset.collapsed .fieldset-title::before {
    /*      icon-plus
    */
    content: '\e80e';
}
html.js fieldset.collapsed {
    height: auto;
}


/*      Language
*/

.language-link.session-active {
    font-weight: bold;
}
.language-link.session-active::before {
    
    /*      icon
    */
    font-family: "fontello";
    speak: none;
    /*
    display: inline-block;
    */
    width: 1em;
    text-align: center;
    line-height: 1em;
    
    /*      icon-checkmark
    */
    content: '\e80c';
    
    /*      pos
    */
    display: inline;
    padding-right: .25em;
}

.locale-untranslated {
    color: #999;
    text-decoration: line-through;
}


/*      Form
*/

form {
    padding: 1em;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 0 1em .5em rgba(255, 255, 255, .6);
}
form.commerce-add-to-cart {
    background: transparent;
    box-shadow: none;
}

.Material,
.form-item.form-type-select {
    /*max-width: 18.75em;*/
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;
}

.form-item {
    margin: 1em auto;
}

.form-item label {
    font-weight: normal;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: inherit;
}


/*      Form - SuitCSS Button Component "specialisation"
*/

.Button {
    transition: all 0.2s ease;
    background: white;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 0 1em .5em white;
    box-shadow: 0 0 1em .5em rgba(255, 255, 255, .3);
}

.Button:hover,
.Button:focus {
    background: #FFF200;
    background: rgba(255, 232, 0, .15);
    box-shadow: 0 0 1em .5em #FFF200;
    box-shadow: 0 0 1em .5em rgba(255, 232, 0, .15);
}

.form-actions .Button + .Button {
    margin-left: 1em;
}


/*      Form - Login, Checkout
*/

.hybridauth-widget-provider {
    display: inline-block;
}

.checkout-buttons.form-wrapper,
.form-actions {
    padding: 1em 0;
    text-align: center;
}
.checkout-buttons.form-wrapper > *,
.form-actions > * {
    display: inline-block;
}
.checkout-buttons.form-wrapper .Button,
.form-actions .Button {
    font-size: 150%;
}

.button-operator {
    padding: 1em;
}

/*
.addressfield-container-inline {
    float: left;
    width: 25em;
    max-width: 100%;
}
*/

.addressfield-container-inline .Material + .clearfix {
    display: none;
}

fieldset.form-wrapper {
    padding: 1em;
}
fieldset.form-wrapper + fieldset.form-wrapper {
    margin-top: 1.5em;
    }
    fieldset.form-wrapper legend {
        font-weight: bold;
        padding: 1em;
    }


/*      Form - Register
*/

form .description {
    margin: .5em;
}




