
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/robwierzbowski/node-pixrem
 */

:root {
    --padding: calc(var(--font-size) * var(--line-height) / 2);
    --padding-ratio: calc(var(--line-height) / 2);
}

.no-p,
.p-reset,
.no-padding {
    padding: 0 !important;
}

.p {
    padding: var(--padding)px !important;
    padding: var(--padding-ratio)rem !important;
}


/*      Directions
*/

.p-t {
    padding-top: var(--padding)px !important;
    padding-top: var(--padding-ratio)rem !important;
}
.p-r {
    padding-right: var(--padding)px !important;
    padding-right: var(--padding-ratio)rem !important;
}
.p-b {
    padding-bottom: var(--padding)px !important;
    padding-bottom: var(--padding-ratio)rem !important;
}
.p-l {
    padding-left: var(--padding)px !important;
    padding-left: var(--padding-ratio)rem !important;
}


/*      Nullify
*/

.no-p-t {
    padding-top: 0 !important;
}
.no-p-r {
    padding-right: 0 !important;
}
.no-p-b {
    padding-bottom: 0 !important;
}
.no-p-l {
    padding-left: 0 !important;
}


/*      Adjacent padding utils
*/

.u-adjacent-p-t + .u-adjacent-p-t {
    padding-top: var(--padding)px !important;
    padding-top: var(--padding-ratio)rem !important;
}
.u-adjacent-p-r + .u-adjacent-p-r {
    padding-right: var(--padding)px !important;
    padding-right: var(--padding-ratio)rem !important;
}
.u-adjacent-p-b + .u-adjacent-p-b {
    padding-bottom: var(--padding)px !important;
    padding-bottom: var(--padding-ratio)rem !important;
}
.u-adjacent-p-l + .u-adjacent-p-l {
    padding-left: var(--padding)px !important;
    padding-left: var(--padding-ratio)rem !important;
}


