/**
 *  @file
 *  Compilation entry point
 */

/*      Custom media queries
*/

/*      Third-party
*/

/*
@import "suitcss-base";
@import "suitcss-utils";
@import "suitcss-components-grid";
@import "suitcss-components-button";
@import "suitcss-components-arrange";
@import "suitcss-components-flex-embed";
*/

/*      Base
*/

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

/* ============================================================
    Viewport
============================================================ */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* ============================================================
    HTML5 Elements
============================================================ */

section,
nav,
article,
aside,
hgroup,
header,
footer,
main,
img,
figure,
figcaption,
details,
menu {
  display: block;
}

audio,
video,
canvas {
  display: inline-block;
}

/* ============================================================
    Box sizing
============================================================ */

* {
  box-sizing: border-box;
}

/* ============================================================
    Embedded content
============================================================ */

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

:root {
  /* @todo use https://github.com/songawee/px_to_rem */
  /*--base-font-size-raw: 16;*/
}

html {
  background: #DDD url(../img/bg_texture.jpg);
  font-family: Georgia, serif;
  font-weight: 400;
  color: #444;
  text-rendering: optimizeLegibility;
}

@media (max-width:640px) {
  html {
    font-size: 90%;
  }
}

@media (min-width:1400px) {
  html {
    font-size: 115%;
  }
}

body {
  margin: 0 auto;
  background: transparent url(../img/bg_body.png) 50% 50% no-repeat;
}

/*
@import "./base/_lobo_owl.css";
*/

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .25em 0;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  font-weight: 400;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  color: #222;
  font-weight: 700;
  font-size: 2em;
  /* 32px */
  line-height: 1;
}

h2,
article > h1,
section > h1,
nav > h1 {
  font-size: 1.5em;
  /* 24px */
  font-size: 4em;
  line-height: 1;
  /* 24px */
  font-weight: 700;
  color: #333;
}

h3,
legend,
article article > h1,
article section > h1,
section section > h1,
section article > h1 {
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.1429;
  /* 24px */
  color: #333;
  font-weight: 400;
}

h4 {
  color: #444;
  font-weight: 400;
  font-size: 1.125em;
  /* 18px */
  line-height: 1.3334;
  /* 24px */
}

h5 {
  color: #555;
  font-weight: 700;
  font-size: 1em;
  /* 16px */
  line-height: 1;
  /* 16px */
}

h6 {
  color: #666;
  font-weight: 700;
  font-size: 0.875em;
  /* 14px */
  line-height: 1.1429;
  /* 16px */
  text-transform: uppercase;
  letter-spacing: 0.1429em;
  /* 2px */
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */



header {
  margin-bottom: .5em;
}

footer {
  margin-top: .5em;
  padding-top: .5em;
}

nav ul {
  margin: 0;
  list-style: none;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
figcaption,
table,
fieldset,
details {
  font-size: 1em;
  line-height: 1.5;
  margin: .5em 0;
}

p:first-child,
pre:first-child,
blockquote:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
figure:first-child,
figcaption:first-child,
table:first-child,
fieldset:first-child,
details:first-child {
  margin-top: 0;
}

hr {
  font-weight: 700;
  font-size: 2em;
  /* 32px */
  line-height: 1;
  /* 32px */
  text-align: center;
  margin: .25em 0 .5em;
  /* 0 0 32px */
  border: 0;
  padding: 0;
  height: 0;
  clear: both;
  display: block;
}

hr::after {
  content: "···";
  color: #bbb;
  letter-spacing: 1em;
  padding-left: 1em;
  height: 0;
}

pre {
  margin-left: 1.5em;
  /* 24px */
  white-space: pre-wrap;
}

pre code,
pre samp {
  line-height: 1.5;
}

blockquote {
  color: #666;
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 32px */
  border-left: 0.25em solid #e9e9e9;
  padding: 0 1.5em 0 1em;
  /* 0 24px 0 16px */
}

blockquote p {
  line-height: 1.25;
  /* 20px */
  margin: 0.5em 0;
  /* 8px 0 */
}

/* Grouping > Lists */

ol {
  list-style-type: decimal;
  padding: 0;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
}

ol ul,
ul ol,
ol ol,
ul ul {
  margin-left: 1em;
}

ul li li {
  list-style-type: square;
}

dt {
  font-size: 1em;
  /* 16px */
  font-weight: 700;
  line-height: 1.25;
  /* 20px */
}

dd {
  margin-left: 1.5em;
  /* 24px */
}

/*
    dd > *,
    li > * {
        margin-top: 0;
    }
    */

/* Grouping > Figures */

figcaption {
  color: #999;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  padding: 0.6667em 0;
  /* 8px 0 */
  clear: left;
}

blockquote + figcaption::before {
  content: "\2014";
}

summary {
  border: 0;
  outline: 0;
  cursor: pointer;
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

em,
i,
cite,
var {
  font-family: Georgia, serif;
  font-style: italic;
  /*
    line-height: 90%;
    */
}

strong,
b {
  /*
    line-height: 90%;
    color: #333;
    */
  font-weight: 700;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

small {
  color: #666;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  display: inline-block;
}

abbr {
  color: #666;
  font-size: 0.875em;
  /* 14px */
  line-height: 90%;
  letter-spacing: 0.0357em;
  /* 0.5px */
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  cursor: help;
}

code,
samp {
  font-family: 'DejaVu Sans Mono',Inconsolata,Consolas,'Lucida Console',monospace;
  font-size: 1em;
  /* 16px */
  line-height: 90%;
}

code {
  color: #b03;
}

code .comment {
  color: #999;
}

samp {
  background-color: #f9f9f9;
  padding: 0.25em;
}

kbd {
  color: #666;
  font-family: inherit;
  font-size: 87.5%;
  line-height: 90%;
  background-color: #f9f9f9;
  margin: 0 0.25em;
  /* 0 4px */
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 0.3334em 0.5em;
  box-shadow: inset 0 1px 0 #fff;
}

sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

mark,
ins {
  background-color: #fff9d9;
  line-height: 90%;
  padding: 0 0.125em;
  /* 0 2px */
}

ins {
  background-color: #e9e9e9;
}

del,
s {
  line-height: 90%;
  text-decoration: line-through;
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

a {
  color: #ff0056;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 0, 86, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*
a:visited {
    color: #D34797;
}
*/

a:focus {
  outline: 2px solid rgba(255, 0, 86, 0.1);
}

a:hover {
  color: red;
  border-bottom-color: rgba(255,0,0,0.2);
}

/*
a:link, a:visited, a:hover {
    transition: all 0.17s ease;
}
*/

/*
a:active {
    color: #d25;
    border-bottom: 1px solid rgba(221,34,85,0.25);
    transition: none;
}
*/

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

fieldset {
  border: 0;
  padding: 0;
}

legend {
  margin: 0;
}

label {
  line-height: 1.5;
  cursor: pointer;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  max-width: 100%;
}

select {
  /*
    -webkit-appearance: button;
    appearance: normal;
    */
  padding: .5em;
  width: 100%;
  cursor: pointer;
}

button,
input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  line-height: normal;
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.25em;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[disabled] {
  cursor: default;
}

textarea,
input[type="text"],
input[type="search"] {
  border: 1px solid #93033D;
}

/* Placeholder */

::-webkit-input-placeholder {
  color: #999;
}

:focus::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #999;
}

:focus:-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #999;
}

:focus:-ms-input-placeholder {
  color: #ccc;
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  caption-side: bottom;
  color: #999;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  text-align: left;
  margin: 1em 0;
  /* 12px 0 */
}

td,
th {
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.375em 2em 0.375em 0;
  /* 6px 32px 6px 0 */
  /*
    vertical-align: top;
    */
  vertical-align: middle;
}

th {
  font-weight: 700;
  padding-bottom: 0.5em;
  /* 8px */
}

thead th {
  border-bottom: 2px solid #ddd;
}

/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 */

@media print {
@page {
    margin: 0.5cm;
}

  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none;
  }

  p,
  h1,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding: 0 1em;
    page-break-inside: avoid;
  }

  a,
  a:visited {
    color: #000 !important;
    border-bottom: 1px dotted #999;
    padding-left: 0 !important;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea {
    border-bottom: 1px solid #999;
    box-shadow: none;
  }
}



/*      Generic
*/

/**
 *  @file
 *  Generic styles
 */

.no-border {
  border: 0 none !important;
}

/**
 *  @file
 *  Generic styles
 */



.no-m,
.m-reset,
.no-margin {
  margin: 0 !important;
}

.m-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m {
  margin: 12px !important;
  margin: 0.75rem !important;
}

/*      Directions
*/

.m-t {
  margin-top: 1rem !important;
}

.m-r {
  margin-right: 12 !important;
}

.m-b {
  margin-bottom: 12 !important;
}

.m-l {
  margin-left: 12 !important;
}

/*      Combined Directions (2)
*/

.m-tr {
  margin: 12 12 0 0 !important;
}

.m-tb {
  margin: 12 0 !important;
}

.m-tl {
  margin: 12 0 0 12 !important;
}

.m-rb {
  margin: 0 12 12 0 !important;
}

.m-rl {
  margin: 0 12 !important;
}

.m-bl {
  margin: 0 0 12 12 !important;
}

/*      Combined Directions (3)
*/

.m-trb {
  margin: 12 12 12 0 !important;
}

.m-rbl {
  margin: 0 12 12 12 !important;
}

.m-tbl {
  margin: 12 0 12 12 !important;
}

.m-trl {
  margin: 12 12 0 12 !important;
}

/**
 *  @file
 *  Generic styles
 */

.pad {
  padding: 16px !important;
  padding: 1rem !important;
}

.no-padding {
  padding: 0 !important;
}

/*      Directions
*/

.pad-t {
  padding: 16px 0 0 0 !important;
  padding: 1rem 0 0 0 !important;
}

.pad-r {
  padding: 0 16px 0 0 !important;
  padding: 0 1rem 0 0 !important;
}

.pad-b {
  padding: 0 0 16px 0 !important;
  padding: 0 0 1rem 0 !important;
}

.pad-l {
  padding: 0 0 0 16px !important;
  padding: 0 0 0 1rem !important;
}

/*      Combined Directions (2)
*/

.pad-tr {
  padding: 16px 16px 0 0 !important;
  padding: 1rem 1rem 0 0 !important;
}

.pad-tb {
  padding: 16px 0 !important;
  padding: 1rem 0 !important;
}

.pad-tl {
  padding: 16px 0 0 16px !important;
  padding: 1rem 0 0 1rem !important;
}

.pad-rb {
  padding: 0 16px 16px 0 !important;
  padding: 0 1rem 1rem 0 !important;
}

.pad-rl {
  padding: 0 16px !important;
  padding: 0 1rem !important;
}

.pad-bl {
  padding: 0 0 16px 16px !important;
  padding: 0 0 1rem 1rem !important;
}

/*      Combined Directions (3)
*/

.pad-trb {
  padding: 16px 16px 16px 0 !important;
  padding: 1rem 1rem 1rem 0 !important;
}

.pad-rbl {
  padding: 0 16px 16px 16px !important;
  padding: 0 1rem 1rem 1rem !important;
}

.pad-tbl {
  padding: 16px 0 16px 16px !important;
  padding: 1rem 0 1rem 1rem !important;
}

.pad-trl {
  padding: 16px 16px 0 16px !important;
  padding: 1rem 1rem 0 1rem !important;
}

/**
 *  @file
 *  JS utils styles
 */

.is-off .js-hide-off {
  display: none;
}

.is-on .js-hide-on {
  display: none;
}

/**
 *  @file
 *  Generic styles
 */

.u-bold {
  font-weight: bold !important;
}

/*      Size : Relative to root size
*/

.u-fontSize-reset {
  font-size: 16px !important;
  font-size: 1rem !important;
}

.u-fontSize-m {
  font-size: 20px !important;
  font-size: 1.25rem !important;
}

.u-fontSize-ml {
  font-size: 24px !important;
  font-size: 1.5rem !important;
}

/*      Size : Relative to ancestor context
*/

.u-fontSize-3of2x {
  font-size: 150% !important;
}

.u-fontSize-2x {
  font-size: 200% !important;
}

.u-fontSize-3x {
  font-size: 300% !important;
}

/**
 *  @file
 *  Generic styles
 */

.Rounded,
.Rounded--children > *,
.Rounded--descendants *,
.Rounded--child-img > img,
.Rounded--descendant-img img {
  border-radius: 100% !important;
}

/*      Effects
*/

/**
 *  @file
 *  Effects styles
 */

.t {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.t-slow {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.t-fast {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/*
@import "./fx/_outline.css";
@import "./fx/_rotate.css";
@import "./fx/_grow_rotate.css";
@import "./fx/_icon.css";
@import "./fx/_icon_grow.css";
@import "./fx/_box_shadow.css";
@import "./fx/_anim_heartbeat.css";
*/

/*      Specific
*/

/*
@import "./specific/_header.css";
@import "./specific/_layout.css";
@import "./specific/_media.css";
@import "./specific/_links.css";
@import "./specific/_splash.css";
@import "./specific/_shame.css";
@import "./specific/_material.css";
*/
