
/**
 *  @file
 *  Compilation entry point
 */


/*      Custom media queries
*/

@custom-media --sm-viewport (max-width:640px);
@custom-media --md-viewport (min-width:640px) and (max-width:1000px);
@custom-media --lg-viewport (min-width:1000px);
@custom-media --xl-viewport (min-width:1400px);


/*      Third-party
*/

/*
@import "suitcss-base";
@import "suitcss-utils";
@import "suitcss-components-grid";
@import "suitcss-components-button";
@import "suitcss-components-arrange";
@import "suitcss-components-flex-embed";
*/


/*      Base
*/

@import "./base/_base.css";
@import "./base/_root.css";
/*
@import "./base/_lobo_owl.css";
*/
@import "./base/_headings.css";
@import "./base/_block_level.css";
@import "./base/_text_level.css";
@import "./base/_links.css";
@import "./base/_form.css";
@import "./base/_tables.css";
@import "./base/_print.css";

:root {
    --base-font-family: Georgia, serif;
    /*
    --base-background: #DDD url(../img/bg_texture.jpg);
    --body-background: transparent url(../img/bg_body.png) 50% 50% no-repeat;
    */
}


/*      Generic
*/

@import "./generic/_border.css";
@import "./generic/_margin.css";
@import "./generic/_padding.css";

@import "./generic/_js_util_states.css";
@import "./generic/_text.css";
@import "./generic/_img.css";


/*      Effects
*/

@import "./fx/_transition.css";
/*
@import "./fx/_outline.css";
@import "./fx/_rotate.css";
@import "./fx/_grow_rotate.css";
@import "./fx/_icon.css";
@import "./fx/_icon_grow.css";
@import "./fx/_box_shadow.css";
@import "./fx/_anim_heartbeat.css";
*/


/*      Specific
*/

/*
@import "./specific/_header.css";
@import "./specific/_layout.css";
@import "./specific/_media.css";
@import "./specific/_links.css";
@import "./specific/_splash.css";
@import "./specific/_shame.css";
@import "./specific/_material.css";
*/


