
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --margin: calc(var(--font-size) * var(--line-height) / 2);
    --margin-ratio: calc(var(--line-height) / 2);
}

.no-m,
.m-reset,
.no-margin {
    margin: 0 !important;
}
.m-center {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m {
    margin: var(--margin)px !important;
    margin: var(--margin-ratio)rem !important;
}


/*      Directions
*/

.m-t {
    margin-top: var(--margin)px !important;
    margin-top: var(--margin-ratio)rem !important;
}
.m-r {
    margin-right: var(--margin)px !important;
    margin-right: var(--margin-ratio)rem !important;
}
.m-b {
    margin-bottom: var(--margin)px !important;
    margin-bottom: var(--margin-ratio)rem !important;
}
.m-l {
    margin-left: var(--margin)px !important;
    margin-left: var(--margin-ratio)rem !important;
}


/*      Combined Directions (2)
*/

.m-tr {
    margin: var(--margin)px var(--margin)px 0 0 !important;
    margin: var(--margin-ratio)rem var(--margin-ratio)rem 0 0 !important;
}
.m-tb {
    margin: var(--margin)px 0 !important;
    margin: var(--margin-ratio)rem 0 !important;
}
.m-tl {
    margin: var(--margin)px 0 0 var(--margin)px !important;
    margin: var(--margin-ratio)rem 0 0 var(--margin-ratio)rem !important;
}
.m-rb {
    margin: 0 var(--margin)px var(--margin)px 0 !important;
    margin: 0 var(--margin-ratio)rem var(--margin-ratio)rem 0 !important;
}
.m-rl {
    margin: 0 var(--margin)px !important;
    margin: 0 var(--margin-ratio)rem !important;
}
.m-bl {
    margin: 0 0 var(--margin)px var(--margin)px !important;
    margin: 0 0 var(--margin-ratio)rem var(--margin-ratio)rem !important;
}


/*      Combined Directions (3)
*/

.m-trb {
    margin: var(--margin)px var(--margin)px var(--margin)px 0 !important;
    margin: var(--margin-ratio)rem var(--margin-ratio)rem var(--margin-ratio)rem 0 !important;
}
.m-rbl {
    margin: 0 var(--margin)px var(--margin)px var(--margin)px !important;
    margin: 0 var(--margin-ratio)rem var(--margin-ratio)rem var(--margin-ratio)rem !important;
}
.m-tbl {
    margin: var(--margin)px 0 var(--margin)px var(--margin)px !important;
    margin: var(--margin-ratio)rem 0 var(--margin-ratio)rem var(--margin-ratio)rem !important;
}
.m-trl {
    margin: var(--margin)px var(--margin)px 0 var(--margin)px !important;
    margin: var(--margin-ratio)rem var(--margin-ratio)rem 0 var(--margin-ratio)rem !important;
}


