
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --margin-l: calc(var(--font-size) * var(--line-height));
    --margin-ratio-l: var(--line-height);
}

.m--l {
    margin: var(--margin-l)px !important;
    margin: var(--margin-ratio-l)rem !important;
}


/*      Directions
*/

.m-t--l {
    margin-top: var(--margin-l)px !important;
    margin-top: var(--margin-ratio-l)rem !important;
}
.m-r--l {
    margin-right: var(--margin-l)px !important;
    margin-right: var(--margin-ratio-l)rem !important;
}
.m-b--l {
    margin-bottom: var(--margin-l)px !important;
    margin-bottom: var(--margin-ratio-l)rem !important;
}
.m-l--l {
    margin-left: var(--margin-l)px !important;
    margin-left: var(--margin-ratio-l)rem !important;
}


/*      Combined Directions (2)
*/

.m-tr--l {
    margin: var(--margin-l)px var(--margin-l)px 0 0 !important;
    margin: var(--margin-ratio-l)rem var(--margin-ratio-l)rem 0 0 !important;
}
.m-tb--l {
    margin: var(--margin-l)px 0 !important;
    margin: var(--margin-ratio-l)rem 0 !important;
}
.m-tl--l {
    margin: var(--margin-l)px 0 0 var(--margin-l)px !important;
    margin: var(--margin-ratio-l)rem 0 0 var(--margin-ratio-l)rem !important;
}
.m-rb--l {
    margin: 0 var(--margin-l)px var(--margin-l)px 0 !important;
    margin: 0 var(--margin-ratio-l)rem var(--margin-ratio-l)rem 0 !important;
}
.m-rl--l {
    margin: 0 var(--margin-l)px !important;
    margin: 0 var(--margin-ratio-l)rem !important;
}
.m-bl--l {
    margin: 0 0 var(--margin-l)px var(--margin-l)px !important;
    margin: 0 0 var(--margin-ratio-l)rem var(--margin-ratio-l)rem !important;
}


/*      Combined Directions (3)
*/

.m-trb--l {
    margin: var(--margin-l)px var(--margin-l)px var(--margin-l)px 0 !important;
    margin: var(--margin-ratio-l)rem var(--margin-ratio-l)rem var(--margin-ratio-l)rem 0 !important;
}
.m-rbl--l {
    margin: 0 var(--margin-l)px var(--margin-l)px var(--margin-l)px !important;
    margin: 0 var(--margin-ratio-l)rem var(--margin-ratio-l)rem var(--margin-ratio-l)rem !important;
}
.m-tbl--l {
    margin: var(--margin-l)px 0 var(--margin-l)px var(--margin-l)px !important;
    margin: var(--margin-ratio-l)rem 0 var(--margin-ratio-l)rem var(--margin-ratio-l)rem !important;
}
.m-trl--l {
    margin: var(--margin-l)px var(--margin-l)px 0 var(--margin-l)px !important;
    margin: var(--margin-ratio-l)rem var(--margin-ratio-l)rem 0 var(--margin-ratio-l)rem !important;
}


