
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --padding-l: calc(var(--font-size) * var(--line-height));
    --padding-ratio-l: var(--line-height);
}

.p--l {
    padding: var(--padding-l)px !important;
    padding: var(--padding-ratio-l)rem !important;
}


/*      Directions
*/

.p-t--l {
    padding-top: var(--padding-l)px !important;
    padding-top: var(--padding-ratio-l)rem !important;
}
.p-r--l {
    padding-right: var(--padding-l)px !important;
    padding-right: var(--padding-ratio-l)rem !important;
}
.p-b--l {
    padding-bottom: var(--padding-l)px !important;
    padding-bottom: var(--padding-ratio-l)rem !important;
}
.p-l--l {
    padding-left: var(--padding-l)px !important;
    padding-left: var(--padding-ratio-l)rem !important;
}


/*      Combined Directions (2)
*/

.p-tr--l {
    padding: var(--padding-l)px var(--padding-l)px 0 0 !important;
    padding: var(--padding-ratio-l)rem var(--padding-ratio-l)rem 0 0 !important;
}
.p-tb--l {
    padding: var(--padding-l)px 0 !important;
    padding: var(--padding-ratio-l)rem 0 !important;
}
.p-tl--l {
    padding: var(--padding-l)px 0 0 var(--padding-l)px !important;
    padding: var(--padding-ratio-l)rem 0 0 var(--padding-ratio-l)rem !important;
}
.p-rb--l {
    padding: 0 var(--padding-l)px var(--padding-l)px 0 !important;
    padding: 0 var(--padding-ratio-l)rem var(--padding-ratio-l)rem 0 !important;
}
.p-rl--l {
    padding: 0 var(--padding-l)px !important;
    padding: 0 var(--padding-ratio-l)rem !important;
}
.p-bl--l {
    padding: 0 0 var(--padding-l)px var(--padding-l)px !important;
    padding: 0 0 var(--padding-ratio-l)rem var(--padding-ratio-l)rem !important;
}


/*      Combined Directions (3)
*/

.p-trb--l {
    padding: var(--padding-l)px var(--padding-l)px var(--padding-l)px 0 !important;
    padding: var(--padding-ratio-l)rem var(--padding-ratio-l)rem var(--padding-ratio-l)rem 0 !important;
}
.p-rbl--l {
    padding: 0 var(--padding-l)px var(--padding-l)px var(--padding-l)px !important;
    padding: 0 var(--padding-ratio-l)rem var(--padding-ratio-l)rem var(--padding-ratio-l)rem !important;
}
.p-tbl--l {
    padding: var(--padding-l)px 0 var(--padding-l)px var(--padding-l)px !important;
    padding: var(--padding-ratio-l)rem 0 var(--padding-ratio-l)rem var(--padding-ratio-l)rem !important;
}
.p-trl--l {
    padding: var(--padding-l)px var(--padding-l)px 0 var(--padding-l)px !important;
    padding: var(--padding-ratio-l)rem var(--padding-ratio-l)rem 0 var(--padding-ratio-l)rem !important;
}


