
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --base-padding-s: calc(var(--base-font-size) * var(--base-line-height) / 3)px;
    --base-padding-s-rem: calc((var(--base-font-size) * var(--base-line-height) / 3) / var(--base-font-size))rem;
}

.p--s {
    padding: var(--base-padding-s) !important;
    padding: var(--base-padding-rem-s) !important;
}


/*      Directions
*/

.p-t--s {
    padding-top: var(--base-padding-s) !important;
    padding-top: var(--base-padding-rem-s) !important;
}
.p-r--s {
    padding-right: var(--base-padding-s) !important;
    padding-right: var(--base-padding-rem-s) !important;
}
.p-b--s {
    padding-bottom: var(--base-padding-s) !important;
    padding-bottom: var(--base-padding-rem-s) !important;
}
.p-l--s {
    padding-left: var(--base-padding-s) !important;
    padding-left: var(--base-padding-rem-s) !important;
}


/*      Combined Directions (2)
*/

.p-tr--s {
    padding: var(--base-padding-s) var(--base-padding-s) 0 0 !important;
    padding: var(--base-padding-rem-s) var(--base-padding-rem-s) 0 0 !important;
}
.p-tb--s {
    padding: var(--base-padding-s) 0 !important;
    padding: var(--base-padding-rem-s) 0 !important;
}
.p-tl--s {
    padding: var(--base-padding-s) 0 0 var(--base-padding-s) !important;
    padding: var(--base-padding-rem-s) 0 0 var(--base-padding-rem-s) !important;
}
.p-rb--s {
    padding: 0 var(--base-padding-s) var(--base-padding-s) 0 !important;
    padding: 0 var(--base-padding-rem-s) var(--base-padding-rem-s) 0 !important;
}
.p-rl--s {
    padding: 0 var(--base-padding-s) !important;
    padding: 0 var(--base-padding-rem-s) !important;
}
.p-bl--s {
    padding: 0 0 var(--base-padding-s) var(--base-padding-s) !important;
    padding: 0 0 var(--base-padding-rem-s) var(--base-padding-rem-s) !important;
}


/*      Combined Directions (3)
*/

.p-trb--s {
    padding: var(--base-padding-s) var(--base-padding-s) var(--base-padding-s) 0 !important;
    padding: var(--base-padding-rem-s) var(--base-padding-rem-s) var(--base-padding-rem-s) 0 !important;
}
.p-rbl--s {
    padding: 0 var(--base-padding-s) var(--base-padding-s) var(--base-padding-s) !important;
    padding: 0 var(--base-padding-rem-s) var(--base-padding-rem-s) var(--base-padding-rem-s) !important;
}
.p-tbl--s {
    padding: var(--base-padding-s) 0 var(--base-padding-s) var(--base-padding-s) !important;
    padding: var(--base-padding-rem-s) 0 var(--base-padding-rem-s) var(--base-padding-rem-s) !important;
}
.p-trl--s {
    padding: var(--base-padding-s) var(--base-padding-s) 0 var(--base-padding-s) !important;
    padding: var(--base-padding-rem-s) var(--base-padding-rem-s) 0 var(--base-padding-rem-s) !important;
}


