
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --padding-xl: calc(var(--base-font-size) * var(--base-line-height) * 2);
    --padding-ratio-xl: calc((var(--base-font-size) * var(--base-line-height) * 2) / var(--base-font-size));
}

.p--xl {
    padding: var(--padding-xl)px !important;
    padding: var(--padding-ratio-xl)rem !important;
}


/*      Directions
*/

.p-t--xl {
    padding-top: var(--padding-xl)px !important;
    padding-top: var(--padding-ratio-xl)rem !important;
}
.p-r--xl {
    padding-right: var(--padding-xl)px !important;
    padding-right: var(--padding-ratio-xl)rem !important;
}
.p-b--xl {
    padding-bottom: var(--padding-xl)px !important;
    padding-bottom: var(--padding-ratio-xl)rem !important;
}
.p-l--xl {
    padding-left: var(--padding-xl)px !important;
    padding-left: var(--padding-ratio-xl)rem !important;
}


/*      Combined Directions (2)
*/

.p-tr--xl {
    padding: var(--padding-xl)px var(--padding-xl)px 0 0 !important;
    padding: var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem 0 0 !important;
}
.p-tb--xl {
    padding: var(--padding-xl)px 0 !important;
    padding: var(--padding-ratio-xl)rem 0 !important;
}
.p-tl--xl {
    padding: var(--padding-xl)px 0 0 var(--padding-xl)px !important;
    padding: var(--padding-ratio-xl)rem 0 0 var(--padding-ratio-xl)rem !important;
}
.p-rb--xl {
    padding: 0 var(--padding-xl)px var(--padding-xl)px 0 !important;
    padding: 0 var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem 0 !important;
}
.p-rl--xl {
    padding: 0 var(--padding-xl)px !important;
    padding: 0 var(--padding-ratio-xl)rem !important;
}
.p-bl--xl {
    padding: 0 0 var(--padding-xl)px var(--padding-xl)px !important;
    padding: 0 0 var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem !important;
}


/*      Combined Directions (3)
*/

.p-trb--xl {
    padding: var(--padding-xl)px var(--padding-xl)px var(--padding-xl)px 0 !important;
    padding: var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem 0 !important;
}
.p-rbl--xl {
    padding: 0 var(--padding-xl)px var(--padding-xl)px var(--padding-xl)px !important;
    padding: 0 var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem !important;
}
.p-tbl--xl {
    padding: var(--padding-xl)px 0 var(--padding-xl)px var(--padding-xl)px !important;
    padding: var(--padding-ratio-xl)rem 0 var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem !important;
}
.p-trl--xl {
    padding: var(--padding-xl)px var(--padding-xl)px 0 var(--padding-xl)px !important;
    padding: var(--padding-ratio-xl)rem var(--padding-ratio-xl)rem 0 var(--padding-ratio-xl)rem !important;
}


