
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --padding-s: calc(var(--base-font-size) * var(--base-line-height) / 3)px;
    --padding-s-ratio: calc((var(--base-font-size) * var(--base-line-height) / 3) / var(--base-font-size));
}

.p--s {
    padding: var(--padding-s)px !important;
    padding: var(--padding-ratio-s)rem !important;
}


/*      Directions
*/

.p-t--s {
    padding-top: var(--padding-s)px !important;
    padding-top: var(--padding-ratio-s)rem !important;
}
.p-r--s {
    padding-right: var(--padding-s)px !important;
    padding-right: var(--padding-ratio-s)rem !important;
}
.p-b--s {
    padding-bottom: var(--padding-s)px !important;
    padding-bottom: var(--padding-ratio-s)rem !important;
}
.p-l--s {
    padding-left: var(--padding-s)px !important;
    padding-left: var(--padding-ratio-s)rem !important;
}


/*      Combined Directions (2)
*/

.p-tr--s {
    padding: var(--padding-s)px var(--padding-s)px 0 0 !important;
    padding: var(--padding-ratio-s)rem var(--padding-ratio-s)rem 0 0 !important;
}
.p-tb--s {
    padding: var(--padding-s)px 0 !important;
    padding: var(--padding-ratio-s)rem 0 !important;
}
.p-tl--s {
    padding: var(--padding-s)px 0 0 var(--padding-s)px !important;
    padding: var(--padding-ratio-s)rem 0 0 var(--padding-ratio-s)rem !important;
}
.p-rb--s {
    padding: 0 var(--padding-s)px var(--padding-s)px 0 !important;
    padding: 0 var(--padding-ratio-s)rem var(--padding-ratio-s)rem 0 !important;
}
.p-rl--s {
    padding: 0 var(--padding-s)px !important;
    padding: 0 var(--padding-ratio-s)rem !important;
}
.p-bl--s {
    padding: 0 0 var(--padding-s)px var(--padding-s)px !important;
    padding: 0 0 var(--padding-ratio-s)rem var(--padding-ratio-s)rem !important;
}


/*      Combined Directions (3)
*/

.p-trb--s {
    padding: var(--padding-s)px var(--padding-s)px var(--padding-s)px 0 !important;
    padding: var(--padding-ratio-s)rem var(--padding-ratio-s)rem var(--padding-ratio-s)rem 0 !important;
}
.p-rbl--s {
    padding: 0 var(--padding-s)px var(--padding-s)px var(--padding-s)px !important;
    padding: 0 var(--padding-ratio-s)rem var(--padding-ratio-s)rem var(--padding-ratio-s)rem !important;
}
.p-tbl--s {
    padding: var(--padding-s)px 0 var(--padding-s)px var(--padding-s)px !important;
    padding: var(--padding-ratio-s)rem 0 var(--padding-ratio-s)rem var(--padding-ratio-s)rem !important;
}
.p-trl--s {
    padding: var(--padding-s)px var(--padding-s)px 0 var(--padding-s)px !important;
    padding: var(--padding-ratio-s)rem var(--padding-ratio-s)rem 0 var(--padding-ratio-s)rem !important;
}


