
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --base-padding-xl: calc(var(--base-font-size) * var(--base-line-height) * 2)px;
    --base-padding-xl-rem: calc((var(--base-font-size) * var(--base-line-height) * 2) / var(--base-font-size))rem;
}

.p--xl {
    padding: var(--base-padding-xl) !important;
    padding: var(--base-padding-rem-xl) !important;
}


/*      Directions
*/

.p-t--xl {
    padding-top: var(--base-padding-xl) !important;
    padding-top: var(--base-padding-rem-xl) !important;
}
.p-r--xl {
    padding-right: var(--base-padding-xl) !important;
    padding-right: var(--base-padding-rem-xl) !important;
}
.p-b--xl {
    padding-bottom: var(--base-padding-xl) !important;
    padding-bottom: var(--base-padding-rem-xl) !important;
}
.p-l--xl {
    padding-left: var(--base-padding-xl) !important;
    padding-left: var(--base-padding-rem-xl) !important;
}


/*      Combined Directions (2)
*/

.p-tr--xl {
    padding: var(--base-padding-xl) var(--base-padding-xl) 0 0 !important;
    padding: var(--base-padding-rem-xl) var(--base-padding-rem-xl) 0 0 !important;
}
.p-tb--xl {
    padding: var(--base-padding-xl) 0 !important;
    padding: var(--base-padding-rem-xl) 0 !important;
}
.p-tl--xl {
    padding: var(--base-padding-xl) 0 0 var(--base-padding-xl) !important;
    padding: var(--base-padding-rem-xl) 0 0 var(--base-padding-rem-xl) !important;
}
.p-rb--xl {
    padding: 0 var(--base-padding-xl) var(--base-padding-xl) 0 !important;
    padding: 0 var(--base-padding-rem-xl) var(--base-padding-rem-xl) 0 !important;
}
.p-rl--xl {
    padding: 0 var(--base-padding-xl) !important;
    padding: 0 var(--base-padding-rem-xl) !important;
}
.p-bl--xl {
    padding: 0 0 var(--base-padding-xl) var(--base-padding-xl) !important;
    padding: 0 0 var(--base-padding-rem-xl) var(--base-padding-rem-xl) !important;
}


/*      Combined Directions (3)
*/

.p-trb--xl {
    padding: var(--base-padding-xl) var(--base-padding-xl) var(--base-padding-xl) 0 !important;
    padding: var(--base-padding-rem-xl) var(--base-padding-rem-xl) var(--base-padding-rem-xl) 0 !important;
}
.p-rbl--xl {
    padding: 0 var(--base-padding-xl) var(--base-padding-xl) var(--base-padding-xl) !important;
    padding: 0 var(--base-padding-rem-xl) var(--base-padding-rem-xl) var(--base-padding-rem-xl) !important;
}
.p-tbl--xl {
    padding: var(--base-padding-xl) 0 var(--base-padding-xl) var(--base-padding-xl) !important;
    padding: var(--base-padding-rem-xl) 0 var(--base-padding-rem-xl) var(--base-padding-rem-xl) !important;
}
.p-trl--xl {
    padding: var(--base-padding-xl) var(--base-padding-xl) 0 var(--base-padding-xl) !important;
    padding: var(--base-padding-rem-xl) var(--base-padding-rem-xl) 0 var(--base-padding-rem-xl) !important;
}


