
/**
 *  @file
 *  Base styles
 *  (=reset/normalize, raw HTML tags styles only)
 *  @see https://github.com/paulrobertlloyd/barebones
 *  
 *  Warning : not sure how to approach vertical-rythm yet
 *  @see https://github.com/cssrecipes/vertical-rhythm
 *  
 *  @todo use https://github.com/robwierzbowski/node-pixrem
 */

/*      [1] : @see generic/_margin.css (identical var, duplicate declaration)
        [2] : @see generic/_padding.css, generic/_padding_l.css, etc. (identical var, duplicate declaration)
*/
:root {
    --margin: calc(var(--font-size) * var(--line-height) / 2); /* [1] */
    --margin-ratio: calc(var(--line-height) / 2); /* [1] */
    
    --padding: calc(var(--font-size) * var(--line-height) / 2); /* [2] */
    --padding-ratio: calc(var(--line-height) / 2); /* [2] */
    
    --padding-l: calc(var(--font-size) * var(--line-height)); /* [2] */
    --padding-ratio-l: var(--line-height); /* [2] */
    
    --padding-s: calc(var(--font-size) * var(--line-height) / 3);
    --padding-ratio-s: calc(var(--line-height) / 3); /* [2] */
}


header {
    margin-bottom: calc(var(--margin) * 2)px;
    margin-bottom: calc(var(--margin-ratio) * 2)rem;
}
footer {
    margin-top: var(--margin)px;
    margin-top: var(--margin-ratio)rem;
}
nav ul {
    margin: 0;
    list-style: none;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
figcaption,
table,
fieldset,
details {
    font-size: 1em;
    line-height: var(--line-height);
    margin: var(--margin)px 0;
    margin: var(--margin-ratio)rem 0;
}

/*      This is commented out for trying to have a vertical rythm by default
p:first-child,
pre:first-child,
blockquote:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
figure:first-child,
figcaption:first-child,
table:first-child,
fieldset:first-child,
details:first-child {
    margin-top: 0;
}
*/

hr {
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
    text-align: center;
    border: 0;
    margin: var(--margin)px 0;
    margin: var(--margin-ratio)rem 0;
    clear: both;
    display: block;
    }
    hr::after {
        content: "···";
        color: #bbb;
        letter-spacing: 1em;
        height: 0;
    }
pre {
    margin-left: var(--margin)px;
    margin-left: var(--margin-ratio)rem;
    white-space:  pre-wrap;
    }
    /*
    pre code,
    pre samp {
        line-height: 1.5;
    }
    */
blockquote {
    color: #666;
    font-size: 1em;
    /*
    line-height: 1.5;
    */
    border-left: 0.25em solid #e9e9e9;
    padding: 0 var(--padding-l)px 0 var(--padding)px;
    padding: 0 var(--padding-ratio-l)rem 0 var(--padding-ratio)rem;
    }
    /*
    blockquote p {
        line-height: 1.25; /* 20px *
        margin: 0.5em 0; /* 8px 0 *
    }
    */

/* Grouping > Lists */
ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    }
    ol ul,
    ul ol,
    ol ol,
    ul ul {
        margin-left: var(--margin)px;
        margin-left: var(--margin-ratio)rem;
    }
    ul li li {
        list-style-type: square;
    }
dt {
    font-size: 1em; /* 16px */
    font-weight: 700;
    /*
    line-height: 1.25; /* 20px *
    */
}
dd {
    margin-left: var(--margin)px;
    margin-left: var(--margin-ratio)rem;
    }
    /*
    dd > *,
    li > * {
        margin-top: 0;
    }
    */

/* Grouping > Figures */
figcaption {
    color: #999;
    /*
    font-size: 0.75em; /* 12px *
    line-height: 1.3334; /* 16px *
    padding: 0.6667em 0; /* 8px 0 *
    */
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    padding: var(--padding-ratio-s)px 0;
    padding: var(--padding-s)rem 0;
    clear: left;
}
blockquote + figcaption::before {
    content: "\2014";
}

summary {
    border: 0;
    outline: 0;
    cursor: pointer;
}

