
/**
 *  Document root : fundamental styles
 *  @require base/typography.vars.css
 *  @require base/colors.vars.css
 */

/*
:root {
}
*/


/*      Note the absence of "root" font-size declaration
        @see http://www.filamentgroup.com/lab/how-we-learned-to-leave-body-font-size-alone.html
*/
html {
    background: var(--html-bg-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--text-color);
    text-rendering: optimizeLegibility;
}
@media (--sm-viewport) {
    html {
        font-size: var(--sm-font-size-modifier);
    }
}
@media (--xl-viewport) {
    html {
        font-size: var(--xl-font-size-modifier);
    }
}

/*
body {
    
}
*/

