
/**
 *  @file
 *  Specific styles
 */

.Media {
    transition: all 0.2s ease;
    background: white;
    background: rgba(255, 255, 255, .5);
    /*box-shadow: 0 0 1em .5em rgba(255, 255, 255, .7);*/
    border-radius: .5em;
}
.Media:hover,
.Media:focus {
    background: white;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 1em .5em rgba(255, 255, 255, .9);
    }
    .Media .views-field-title {
        margin-top: 8px;
        margin-top: .5rem;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
    }
    /*.Media .views-field-title * {
        margin-top: .5em;
    }*/