
/**
 *  Inline-block-based Grid object
 *  @require base/_typography.vars.css
 *  @require generic/_padding.css
 *  @todo use https://github.com/robwierzbowski/node-pixrem
 */

:root {
    --grid-padding: var(--padding);
    --grid-padding-ratio: var(--padding-ratio);
}


/*      [1] Remove white space between children
        [2] Exportability
        [3] Restore font-size from document,
            @see base/_typography.vars.css
*/
.o-grid {
    display: block;
    font-size: 0; /* [1] */
}
.o-grid--gutter {
    margin: 0 -var(--grid-padding)px;
    margin: 0 -var(--grid-padding-ratio)rem;
}
.o-grid--centered {
    text-align: center;
    }
    .o-grid--gutter > .o-grid__item {
        box-sizing: border-box; /* [2] */
        padding: var(--grid-padding)px;
        padding: var(--grid-padding-ratio)rem;
    }
    .o-grid__item {
        display: inline-block;
        vertical-align: top;
        font-size: var(--font-size)px; /* [3] */
        font-size: var(--font-size-ratio)rem; /* [3] */
        }

