
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/robwierzbowski/node-pixrem
 */

:root {
    --margin: calc(var(--font-size) * var(--line-height) / 2);
    --margin-ratio: calc(var(--line-height) / 2);
}

.no-m,
.m-reset,
.no-margin {
    margin: 0 !important;
}
.m-center {
    margin-right: auto !important;
    margin-left: auto !important;
}

.m {
    margin: var(--margin)px !important;
    margin: var(--margin-ratio)rem !important;
}


/*      Directions
*/

.m-t {
    margin-top: var(--margin)px !important;
    margin-top: var(--margin-ratio)rem !important;
}
.m-r {
    margin-right: var(--margin)px !important;
    margin-right: var(--margin-ratio)rem !important;
}
.m-b {
    margin-bottom: var(--margin)px !important;
    margin-bottom: var(--margin-ratio)rem !important;
}
.m-l {
    margin-left: var(--margin)px !important;
    margin-left: var(--margin-ratio)rem !important;
}


/*      Nullify
*/

.no-m-t {
    margin-top: 0 !important;
}
.no-m-r {
    margin-right: 0 !important;
}
.no-m-b {
    margin-bottom: 0 !important;
}
.no-m-l {
    margin-left: 0 !important;
}


