
/**
 *  Generic styles :
 *  Size utils
 */

.u-w-100,
.u-w-full {
    width: 100%;
}

.u-h-100,
.u-h-full {
    height: 100%;
}

.u-w-1 {
    width: 1%;
}

.u-w-1of2 {
    width: 50%;
}

.u-w-1of3 {
    width: 33.333332%;
}
.u-w-2of3 {
    width: 66.666665%;
}

.u-w-1of4 {
    width: 25%;
}
.u-w-3of4 {
    width: 75%;
}

.u-w-1of6 {
    width: 16.666665%;
}
.u-w-5of6 {
    width: 83.333332%;
}

