
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/robwierzbowski/node-pixrem
 */

/*      @see base/typography.vars.css
:root {
}
*/


/*      Alignments
*/

.u-align-r {
    text-align: right !important;
}
.u-align-l {
    text-align: left !important;
}


/*      Styles
        @todo smallcaps ?
        @todo kerning ?
        @todo text-indent ?
        @todo letter-spacing ?
*/

.u-bold {
    font-weight: var(--font-weight-bold) !important;
}
.u-italic {
    font-style: italic !important;
}
.u-uppercase {
    text-transform: uppercase !important;
}
.u-center {
    text-align: center !important;
}


/*      Sizes
        [1] : @require base/_root.css (externally defined variable reference = dependency)
        [2] : no !important for line-height for contextual "overridability"
*/

.u-fontSize-reset {
    font-size: var(--font-size)px !important; /* [1] */
    font-size: var(--font-size-ratio)rem !important; /* [1] */
    line-height: var(--line-height); /* [2] */
}

.u-fontSize-xs {
    font-size: var(--font-size-xs)px !important;
    font-size: var(--font-size-ratio-xs)rem !important;
    line-height: var(--line-height-xs); /* [2] */
}
.u-fontSize-s {
    font-size: var(--font-size-s)px !important;
    font-size: var(--font-size-ratio-s)rem !important;
    line-height: var(--line-height-s); /* [2] */
}
.u-fontSize-m {
    font-size: var(--font-size-m)px !important;
    font-size: var(--font-size-ratio-m)rem !important;
    line-height: var(--line-height-m); /* [2] */
}
.u-fontSize-l {
    font-size: var(--font-size-l)px !important;
    font-size: var(--font-size-ratio-l)rem !important;
    line-height: var(--line-height-l); /* [2] */
}
.u-fontSize-xl {
    font-size: var(--font-size-xl)px !important;
    font-size: var(--font-size-ratio-xl)rem !important;
    line-height: var(--line-height-xl); /* [2] */
}


/*      Relative Sizes in % (list of proportions, may add more)
*/

.u-fontSize-9of10x {
    font-size: 90% !important;
}
.u-fontSize-11of10x {
    font-size: 110% !important;
}
.u-fontSize-3of2x {
    font-size: 150% !important;
}
.u-fontSize-2x {
    font-size: 200% !important;
}
.u-fontSize-3x {
    font-size: 300% !important;
}

