
/**
 *  @file
 *  Generic styles
 *  
 *  @todo use https://github.com/songawee/px_to_rem
 */

:root {
    --padding: calc(var(--font-size) * var(--line-height) / 2);
    --padding-ratio: calc(var(--line-height) / 2);
}

.no-p,
.p-reset,
.no-padding {
    padding: 0 !important;
}
.p-center {
    padding-right: auto !important;
    padding-left: auto !important;
}

.p {
    padding: var(--padding)px !important;
    padding: var(--padding-ratio)rem !important;
}


/*      Directions
*/

.p-t {
    padding-top: var(--padding)px !important;
    padding-top: var(--padding-ratio)rem !important;
}
.p-r {
    padding-right: var(--padding)px !important;
    padding-right: var(--padding-ratio)rem !important;
}
.p-b {
    padding-bottom: var(--padding)px !important;
    padding-bottom: var(--padding-ratio)rem !important;
}
.p-l {
    padding-left: var(--padding)px !important;
    padding-left: var(--padding-ratio)rem !important;
}


/*      Combined Directions (2)
*/

.p-tr {
    padding: var(--padding)px var(--padding)px 0 0 !important;
    padding: var(--padding-ratio)rem var(--padding-ratio)rem 0 0 !important;
}
.p-tb {
    padding: var(--padding)px 0 !important;
    padding: var(--padding-ratio)rem 0 !important;
}
.p-tl {
    padding: var(--padding)px 0 0 var(--padding)px !important;
    padding: var(--padding-ratio)rem 0 0 var(--padding-ratio)rem !important;
}
.p-rb {
    padding: 0 var(--padding)px var(--padding)px 0 !important;
    padding: 0 var(--padding-ratio)rem var(--padding-ratio)rem 0 !important;
}
.p-rl {
    padding: 0 var(--padding)px !important;
    padding: 0 var(--padding-ratio)rem !important;
}
.p-bl {
    padding: 0 0 var(--padding)px var(--padding)px !important;
    padding: 0 0 var(--padding-ratio)rem var(--padding-ratio)rem !important;
}


/*      Combined Directions (3)
*/

.p-trb {
    padding: var(--padding)px var(--padding)px var(--padding)px 0 !important;
    padding: var(--padding-ratio)rem var(--padding-ratio)rem var(--padding-ratio)rem 0 !important;
}
.p-rbl {
    padding: 0 var(--padding)px var(--padding)px var(--padding)px !important;
    padding: 0 var(--padding-ratio)rem var(--padding-ratio)rem var(--padding-ratio)rem !important;
}
.p-tbl {
    padding: var(--padding)px 0 var(--padding)px var(--padding)px !important;
    padding: var(--padding-ratio)rem 0 var(--padding-ratio)rem var(--padding-ratio)rem !important;
}
.p-trl {
    padding: var(--padding)px var(--padding)px 0 var(--padding)px !important;
    padding: var(--padding-ratio)rem var(--padding-ratio)rem 0 var(--padding-ratio)rem !important;
}


