
/**
 *  @file
 *  Effects styles
 */

.fx-grow-rotate {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
}
.fx-grow-rotate:focus,
.fx-grow-rotate:hover {
    transform: scale(1.5) rotate(340deg);
}

